
/* tablet settings */
@media  screen and (min-width: 810px ) {
    body{
         font-size: 20px;
    }
        /* demo app */
    .demoapp .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .demoapp .col {

        width: 30%;
    }
    
    .demoapp .col:first-child {
        width: 65%;
    }

    /* testimonials */
    .card {
        display: flex;
    }

    /* benefits */
    .benefits-card {
        width: 45%;
    }

    .container-card-benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    /* about us */
    #about-us .container{
        display: flex;
        justify-content: space-between;
    }

    #about-us-text {
        font-size: 1.6em;
        width: 47%;
    }

    #about-us-img {
        width: 47%;
    }

    #about-us-img img {
        width: 60%;
    }
}



/* desktop settings */
@media  screen and (min-width: 1400px) {
    body{
        font-size: 16px;
    }

    #mobile-menu {
        display: none;
    }
    .container {
        width: 70%;
    }

    #desktop-menu {
        display: inline-block;
    }

    #desktop-menu ul {
        width: 100%;
        list-style: none;
        display: flex;
        gap: 10px;
    }
    
    #get-start-button a {
        color: #333333;
        
    }
    #get-start-button {
        background-color: #fff;
        transition: all 1s;
    }
    #get-start-button:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    
    /* MAin */
   
    /* planning*/
    #planning .container {
        display: flex;
    }

    /* benefits */
    .benefits-card {
        width: 30%;
    }
}