/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* HEADER */
header {
    height: 100px;
    background-color: #0084fd;
    
}

#desktop-menu {
    display: none;
}


/* MAIN */




/* FOOTER */
footer {
    height: 200px;
    background-color: #333333;
}




/* DEBUG */

.container {
    min-height: 70px;
    border: 1px dotted rgb(0, 27, 18);
}

main section {
    min-height: 300px;
    border: 2px solid yellow;
}

