/* general settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button {
    padding: 6px 12px;
    background-color: #9792e4;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

/* HEADER */
header {
    width: 100%;
    min-height: 70px;
    background-color: #0084fd;
    position: fixed;
    z-index: 900;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

nav {
    color: #fff;
    font-size: 20px;
}

#desktop-menu {
    display: none;
}

#mobile-menu {
    font-size: 40px;
    cursor: pointer;
}

/* MAIN */
main section{
    padding-top: 100px;
}


    /* Demo app */

.demoapp .col {
    background-color: #b5ddff;
    border-radius: 40px;
    margin-bottom: 30px;
    padding: 50px;
    text-align: center;
}

.demoapp .col:first-child {
    text-align: left;
    padding-bottom: 0;
}

.col h3 {
    color: #0084fd;
    font-size: 36px;
    margin-bottom: 20px;
}

.col p {
    color: #5a6e7f;
    margin-bottom: 20px;
    line-height: 190%;
    font-weight: 600;
}

.text-application > button{
    width: 90%;
    background-color: #0084fd;
    font-size: 26px;
    border-radius: 60px;
    padding: 10px;
    margin-bottom: 20px;
}
.img-application > img{
    width: 100%;
    margin-bottom: -8px;
}


.col > i {
    font-size: 80px;
    color: #0084fd;
    margin-bottom: 20px;
}


    /* planning */
#planning .container {
    text-align: center;
}

#planning #white {
    border-radius: 10px;
    background-color: #fff;
}

/* Testimonials */
#testimonials .container {
    text-align: center;
}

#testimonials .card {
    margin-top: 20px;
    color: white;
    background-color: #9792e4;
    border-radius: 50px;
    padding: 20px;
}


.card img {
    width: 100%;
    margin: 20px auto;
    border-radius:300px
}

/* Benefits */
#benefits {
    text-align: center;
    font-size: 30px;
}

#benefits .benefits-card {
    margin-top: 20px;
    padding: 15px;
    text-align: left;
    font-size: 20px;
    color: #9792e4;
    border-radius: 30px;
}

.benefits-card p {
    color: #ccc;
}

/* About us */
#about-us {
    font-size: 20px;
    color: #9792e4;
}

#about-us p {
    margin: 20px 0;
    color: #4b4b4b;
}

#about-us-img img {
    width: 100%;
}

#get-start {
    text-align: center;
}

#get-start h1 {
    font-size: 40px;
    color: #fdc15f;
}
/* FOOTER */
footer {
    height: 200px;
    background-color: #333333;
    text-align: center;
    color: #fff;
}

footer .container {
    margin-top: 20px;
}

footer section {
    margin-top: 15px;
}


/* DEBUG */

.container {
    min-height: 70px;
    border: 1px dotted rgb(0, 27, 18);
}


main section {
    border: 2px solid yellow;
}


#planning .container {
}

#planning #white {
    border: 2px dotted green;
    min-height: 70px;
}

#benefits .benefits-card {
    border: 2px dashed violet;
}

